@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #1A1A1A;
}

.cursor {
  white-space: nowrap;
  overflow: hidden;
}

.typewriter-animation {
  border-right: 2px solid rgba(255, 255, 255, 0.75); 
  animation: 
    typewriter 2s steps(30) 0.5s 1 normal both, /* typing animation */
    blinkCursorOnce 2s steps(30) 1 forwards; /* cursor disappears after typing */
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinkCursorOnce {
  0%, 90% { border-right-color: rgba(255, 255, 255, 0.75); }
  100% { border-right-color: transparent; } 
}
